# OS Stuff
.DS_Store
.eslintcache
.directory
Thumbs.db

# MSVS Stuff
*.vcxproj.user
*.tlog
*.vs/
/.vs/
/.idea/
*.rsuser
*.user
*.userosscache
*.sln.docstates
*.lnk

# Built Files
*.a
*.d
*.o
*.lo
*.obj
*.pdb
*.res
*.stamp
/src/x86/
/src/x64/
*Debug/
*Release/
/Output/
